<%= form_for(@job) do |f| %>

    <p class="w3-justify">Create or Choose a Date</p>

    <p class="w3-justify">
        <%= f.fields_for :book do |b| %>
            <%= b.label :monthdayyear, value="Date:" %>
            <%= b.date_field :monthdayyear, list: 'book-name' %>
            <datalist id="book-name">
                <% Book.all.each do |o| %>
                    <option value="<%= o.monthdayyear %>"></option>
                <% end %>
            </datalist>
        <% end %>
    </p>

    </br>

    <p class="w3-justify">Create or Choose a Truck</p>

    <p class="w3-justify">
        <%= f.fields_for :truck do |b| %>
            <%= b.label :make, value="Make:" %>
            <%= b.text_field :make %>
            <%= b.label :color, value="Color:" %>
            <%= b.text_field :color %>
            <%= b.label :year, value="Year:" %>
            <%= b.number_field :year %>
            <datalist id="book-name">
                <% Truck.all.each do |o| %>
                    <option value="<%= o.make %>"></option>
                    <option value="<%= o.color %>"></option>
                    <option value="<%= o.year %>"></option>
                <% end %>
            </datalist>
        <% end %>
    </p>

    </br>

    <p class="w3-justify">Create or Choose a Broker</p>

    <p class="w3-justify">
        <%= f.fields_for :broker do |b| %>
            <%= b.label :name, value="(Company) Name:" %>
            <%= b.text_field :name, list: 'broker-name' %>
            <datalist id="book-name">
                <% Broker.all.each do |o| %>
                    <option value="<%= o.name %>"></option>
                <% end %>
            </datalist>
        <% end %>
    </p>

    </br>

    <p class="w3-justify">Job Details:</p>

    <p class="w3-justify">
        <%= f.label :po_number, value="P.O #:" %>
        <%= f.number_field :po_number %>
    </p>

    <p class="w3-justify">
        <%= f.label :start_time, value="Start Time:" %>
        <%= f.time_field :start_time %>
    </p>

    <p class="w3-justify">
        <%= f.label :end_time, value="End Time:" %>
        <%= f.time_field :end_time %>
    </p>

    <p class="w3-justify">
        <%= f.label :material, value="Material:" %>
        <%= f.text_field :material %>
    </p>

    <p class="w3-justify">
        <%= f.label :weight, value="Weight:" %>
        <%= f.text_field :weight %>
    </p>

    <p class="w3-justify">
        <%= f.label :pickup, value="Pick Up Location:" %>
        <%= f.text_field :pickup, :size => 50 %>
    </p>

    <p class="w3-justify">
        <%= f.label :dropoff, value="Drop Off Location:" %>
        <%= f.text_field :dropoff, :size => 50 %>
    </p>

    <p class="w3-justify">
        <%= f.label :driver, value="Driver:" %>
        <%= f.text_field :driver %>
    </p>

    <p class="w3-justify">
        <%= f.label :contact_name, value="Contact Name:" %>
        <%= f.text_field :contact_name %>
    </p>

    <p class="w3-justify">
        <%= f.label :contact_number, value="Contact Number:" %>
        <%= f.text_field :contact_number, min: 10, max: 10, placeholder: 'xxx-xxx-xxxx' %>
    </p>

    <p class="w3-justify">
        <%= f.label :hourly_rate, value="Hourly Rate:" %>
        <%= f.number_field :hourly_rate, :size => -10 %>
    </p>
    <%= f.submit %>
<% end %>