<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <a class="w3-bar-item w3-button w3-padding-large" <%= link_to "BACK", :back %> </a>

  </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">


  <!-- The MY_TRUCKING Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="my_trucking">
    <h1 class="w3-wide">MY_TRUCKING</h1>
    <p class="w3-opacity"><i>Create Job!</i></p>
    <p class="w3-justify w3-center">Create a form with dates(book), truck, brokers, and job attributes</p>
        <%= form_for(@job) do |f| %>
            <p class="w3-justify">
                <%= f.label :start_time, value="Start Time:" %>
                <%= f.time_field :start_time %>
            </p>
            <p class="w3-justify">
                <%= f.label :end_time, value="End Time:" %>
                <%= f.time_field :end_time %>
            </p>
            <p class="w3-justify">
                <%= f.label :material, value="Material:" %>
                <%= f.text_field :material %>
            </p>
            <p class="w3-justify">
                <%= f.label :weight, value="Weight:" %>
                <%= f.text_field :weight %>
            </p>
            <p class="w3-justify">
                <%= f.label :pickup, value="Pick Up Location:" %>
                <%= f.text_field :pickup, :size => 50 %>
            </p>
            <p class="w3-justify">
                <%= f.label :dropoff, value="Drop Off Location:" %>
                <%= f.text_field :dropoff, :size => 50 %>
            </p>
            <p class="w3-justify">
                <%= f.label :driver, value="Driver:" %>
                <%= f.text_field :driver %>
            </p>
            <p class="w3-justify">
                <%= f.label :contact_name, value="Contact Name:" %>
                <%= f.text_field :contact_name %>
            </p>
            <p class="w3-justify">
                <%= f.label :contact_number, value="Contact Number:" %>
                <%= f.number_field :contact_number %>
            </p>
        <% end %>
    </p>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <p class="w3-medium">Powered by Bradley Lopez</p>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>