<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Home Navbar -->
  <%= render 'layouts/homenav' %>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">


  <!-- The MY_TRUCKING Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="my_trucking">
    <h1 class="w3-wide">MY_TRUCKING</h1>
    <p class="w3-opacity"><i>Most Recent Job!</i></p>
    
    <% if @jobs.empty? %>
      <p class="w3-justify w3-center"> <%= link_to "Create a job!", new_job_path %></p>

    <% else %>

      <p class="w3-justify w3-center"> 
        date: <%= @job.book.monthdayyear %> 
      </p>
      <p class="w3-justify w3-center"> 
        make: <%= @job.truck.make %> </br> 
        color: <%= @job.truck.color %> </br>
        year: <%= @job.truck.year %> 
      </p>
      <p class="w3-justify w3-center">
        broker: <%= @job.broker.name %>
      </p>
      <p class="w3-justify w3-center">
        p.o #: <%= @job.po_number %> </br>
        start time: <%= @job.start_time %> </br>
        end time: <%= @job.end_time %> </br>
        material: <%= @job.material %> </br>
        weight: <%= @job.weight %> </br>
        pick up location: <%= @job.pickup %> </br>
        drop off location: <%= @job.dropoff %> </br>
        driver: <%= @job.driver %> </br>
        contact name: <%= @job.contact_name %> </br>

        contact number: <%= @job.contact_number %> </br>
        hourly rate: <%= @job.hourly_rate %> </br> </br>

        <%= link_to "edit", edit_job_path(@job.id) %> </br>
        <%= link_to "delete", job_path(@job), :confirm => "Are you sure you want to do that?", :method => :delete %>
      </p>
    <% end %>
    
  </div>
  

</div>


<!-- Footer -->
  <%= render 'layouts/footer' %>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>