<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "SUMMARY", user_path(session[:user_id]) %> </a>

    <a class="w3-bar-item w3-button w3-padding-large" <%= link_to "CREATE JOB", new_job_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large" <%= link_to "MOST RECENT", job_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "DATES", dates_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "TRUCKS", trucks_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "BROKERS", brokers_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "LOGOUT", logout_path, method: :delete %> </a>

    
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">DATES</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TRUCKS</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BROKERS</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SUMMARY</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOGOUT</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">


  <!-- The MY_TRUCKING Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="my_trucking">
    <h1 class="w3-wide">MY_TRUCKING</h1>
    <p class="w3-opacity"><i>Welcome!</i></p>
    <p class="w3-justify">This is an application that can be used as a tool by truckers around the nation to create a detailed record of their varying day-to-day shifts.</p>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <p class="w3-medium">Powered by Bradley Lopez</p>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>