<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <a class="w3-bar-item w3-button w3-padding-large" <%= link_to "HOME", user_path(session[:user_id]) %> </a>

    <a class="w3-bar-item w3-button w3-padding-large" <%= link_to "CREATE JOB", new_job_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "RECENTLY CREATED", job_path(session[:user_id]) %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "DATES", books_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "TRUCKS", trucks_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "BROKERS", brokers_path %> </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" <%= link_to "LOGOUT", logout_path, method: :delete %> </a> 
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" <%= link_to "RECENTLY CREATED", job_path(session[:user_id]) %> </a>
  <a class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" <%= link_to "DATES", books_path %> </a>
  <a class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" <%= link_to "TRUCKS", trucks_path %> </a>
  <a class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" <%= link_to "BROKERS", brokers_path %> </a>
  <a class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" <%= link_to "LOGOUT", logout_path, method: :delete %> </a>
</div>